{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- main content -->
<br/>
<br/>


<div class="main-content mb-4" >
    <div id="wrapper-site">
        <div id="content-wrapper">
            

            <div id="main">
                <div class="page-home">
                    <div class="container">
                        <h2 class="text-center title-page">{{pesan | upper}}</h2>
                        <div class="row-inhert">
                            
                            <div class="input-contact">
                               
                                <div class="d-flex justify-content-center">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="contact-form">
                                                <div>
                                                    <a href="{% url 'histori' %}" class="btn" name="submitMessage">
                                                       
                                                        <img class="img-fl" src=" {% static 'public/img/contact_email.png' %}" alt="img"> Kembali
                                                    </a>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  